/*!
* www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter
* Licence WTFPL http://www.wtfpl.net/
*/

/* ----------------------------- */
/* ==Table Of Content            */
/* ----------------------------- */

/* 1- Normalize (basic reset) */
/* 2- Base (basic styles) */
/* 3- Print (print quick reset) */
/* 4- Stylings (minor stylings) */
/* 5- Misc (skip links, hyphens) */
/* 6- Tables (data tables consistency) */
/* 7- Forms (forms consistency) */
/* 8- Media object */
/* 9- Autogrid object */
/* 10- Global Layout (alignment, modules, positionning) */
/* 11- Helpers (width and spacers helpers) */
/* (12- WordPress reset (disabled by default)) */
/* 13- Responsive (Responsive Web Design helpers) */
/* 14- Grid Layout (grillade) */

/* ---------------------------------- */
/* ==Normalize (basic reset)          */
/* ---------------------------------- */

@import "_vendor/_normalize.scss"; // normalize (basic reset)

// WARNING : you should comment the following @import (variables)
// and move variables file from knacss folder to your own project folder!
@import "_config/_variables.scss";

@import "_config/_breakpoints.scss";
@import "_config/_mixins.scss";
@import "_config/_fonts.scss";

// Libraries
@import "library/_base.scss"; // basic styles
@import "library/_print.scss"; // print quick reset
@import "library/_styling.scss"; // minor stylings
@import "library/_misc.scss"; // skip links, hyphens
@import "library/_tables.scss"; // data tables consistency
@import "library/_forms.scss"; // forms consistency

// Objects
@import "objects/_media.scss"; // media object
@import "objects/_autogrid.scss"; // media autogrid

// Utilities
@import "utilities/_layout.scss"; // alignment, modules, positionning
@import "utilities/_helpers.scss"; // width and spacers helpers
// @import "utilities/_wordpress.scss"; // WordPress reset and basic styles

// Grids
@import "grids/_grillade.scss"; // grids


/* ----------------------------- */
/* ==Own stylesheet              */
/* ----------------------------- */
.size50{
	font-size : $size-50;
}

.size36{
	font-size : $size-36;
}

.size30{
	font-size : $size-30;
}

.size24{
	font-size : $size-24;
}

.size20{
	font-size : $size-20;
}

.size19{
	font-size : $size-19;
}

.size17{
	font-size : $size-17;
}

.size16{
	font-size : $size-16;
}

.size15{
	font-size : $size-15;
}

.size14{
	font-size : $size-14;
}

.size13{
	font-size : $size-13;
}

.size12{
	font-size : $size-12;
}

.size11{
	font-size : $size-11;
}

.size10{
	font-size : $size-10;
}

.color1{
	color: $color1;
}

.color2{
	color: $color2;
}

.color3{
	color: $color3;
}

.color4{
	color: $color4;
}

.color5{
	color: $color5;
}

.color6{
	color: $color6;
}

.color7{
	color: $color7;
}

.typo1{
	font-family:$typo1;
}

.typo2{
	font-family:$typo2;
}

.typo3{
	font-family:$typo3;
}

.unstyled{
	list-style-type:none;
}

.uppercase{
	text-transform:uppercase;
}

.masque{
	display:none;
}


a{
	text-decoration:none;
}

body{
	font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Header */
.header-general{
	align-items:center;
	padding-left: 50px;
	height: 83px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background: $color2;
	z-index:10;

	h1{
		margin: 0;

		img{
			display: block;
			width: 170px;
		}
	}

	.burger{
		border:none;
		background: none;
		cursor:pointer;
		padding: 0;
		height: 18px;
		width: 23px;
		margin-left: 40px;

		svg{
			width:23px;

			path{
				fill:$color4;
			}

			+ svg{
				width: 16px;
			}

			&.invisible{
				display: none;
			}
		}
	}
}

.nav-burger{
	position: fixed;
	right: -256px;
	top: 83px;
	z-index: 10;
	height: calc(100% - 83px);
	width: 256px;
	background: $color1;
	text-align:center;
	overflow: scroll;
	transition:right 0.3s ease;
	padding-top: 60px;

	ul{
		padding-left: 0;

		li{
			list-style-type: none;
			line-height: 1;
			margin-bottom: 13px;

			&.entree-secondaire{
				margin-bottom: 9px;
			}
		}
	}

	&.ouvert{
		right: 0;
	}

	a{
		color:$color2;
	}


	.nav-rs{
		justify-content:center;
	}

	.nav-installation{
		margin: 45px 0;
		li{
			a{
				display: flex;
				align-items:center;
				justify-content:center;
				width: 168px;
				height: 34px;
				border-radius:17px;
				background:$color5;
				margin: auto;
			}
		}
	}

	.nav-mentions{
		margin-top: 40px;
	}

	.nav-2{
		margin-top: 30px;
	}
}

.nav-burger, .nav-footer{
	.twitter, .facebook{
		svg{
			width: 36px;
		}

		.cls-1, .cls-2{
			transition:fill 0.3s ease;
		}

		.cls-1{
			fill:$color4;
		}

		.cls-2{
			fill:$color2;
		}

		&:hover, &:focus{
			.cls-1{
				fill:$color2;
			}

			.cls-2{
				fill:$color4;
			}
		}
	}

	.nav-rs{
		li + li{
			margin-left: 12px;
		}
	}
}

.entree-principale{
	a{
		font-weight: 600;
	}
}

.entree-minimale{
	a{
		font-size: $size-13;
	}
}

/* Fin header */

/* Footer */
.footer-principal{
	background:#eee url('../../img/css/svg/big-wave-footer.svg') no-repeat left bottom;
	background-size:cover;
	min-height: 892px;
	padding-top: 58px;
}

.dans-le-retro{
	background:$color2;
	min-height:372px;
	width: 87.5%;
	margin-left: 12.5%;
	img{
		width: 300px;
	}
}

.nav-footer{
	padding: 75px 8.333%;

	a{
		color:$color4;
	}

	.nav-installation{
		a{
			color:$color5;
		}
	}

	.colonne-1{
		margin-right: 4.166%;
		width: 213px;
	}

	.colonne-2{
		flex:1;
	}

	.entree-principale{
		font-size: $size-19;
	}

	.entree-secondaire{
		font-size: $size-16;
	}

	ul{
		margin: 0;
		&.nav-rs{
			margin-bottom: 20px;

			li{
				margin-bottom: 0;
			}
		}

		li{
			margin-bottom: 13px;
			line-height: 1;
		}
	}
}

.cn-bottom{
	.cookie-notice-container{
		font-family: $typo1;
		font-size: $size-14;
		min-height: 60px;
		padding: 0 40px;
		display: flex;
		justify-content:space-between;
		align-items:center;
		.button{
			font-size: $size-16;
			height: 34px;
			width: 168px;
			border-radius: 17px;
			background: $color3;
			color:$color2;
			display: flex;
			justify-content:center;
			align-items:center;
		}
	}
}

/* Fin Footer */

/* Commun */
/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

/* Fin Commun */

/* Home */


/* Fin Home */


@import "utilities/_responsive.scss"; // Responsive Web Design helpers