/*!
* www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter
* Licence WTFPL http://www.wtfpl.net/
*/

/* ----------------------------- */
/* ==Table Of Content            */
/* ----------------------------- */

/* 1- Normalize (basic reset) */
/* 2- Base (basic styles) */
/* 3- Print (print quick reset) */
/* 4- Stylings (minor stylings) */
/* 5- Misc (skip links, hyphens) */
/* 6- Tables (data tables consistency) */
/* 7- Forms (forms consistency) */
/* 8- Media object */
/* 9- Autogrid object */
/* 10- Global Layout (alignment, modules, positionning) */
/* 11- Helpers (width and spacers helpers) */
/* (12- WordPress reset (disabled by default)) */
/* 13- Responsive (Responsive Web Design helpers) */
/* 14- Grid Layout (grillade) */

/* ---------------------------------- */
/* ==Normalize (basic reset)          */
/* ---------------------------------- */

@import "_vendor/_normalize.scss"; // normalize (basic reset)

// WARNING : you should comment the following @import (variables)
// and move variables file from knacss folder to your own project folder!
@import "_config/_variables.scss";

@import "_config/_breakpoints.scss";
@import "_config/_mixins.scss";
@import "_config/_fonts.scss";

// Libraries
@import "library/_base.scss"; // basic styles
@import "library/_print.scss"; // print quick reset
@import "library/_styling.scss"; // minor stylings
@import "library/_misc.scss"; // skip links, hyphens
@import "library/_tables.scss"; // data tables consistency
@import "library/_forms.scss"; // forms consistency

// Objects
@import "objects/_media.scss"; // media object
@import "objects/_autogrid.scss"; // media autogrid

// Utilities
@import "utilities/_layout.scss"; // alignment, modules, positionning
@import "utilities/_helpers.scss"; // width and spacers helpers
// @import "utilities/_wordpress.scss"; // WordPress reset and basic styles

// Grids
@import "grids/_grillade.scss"; // grids


/* ----------------------------- */
/* ==Own stylesheet              */
/* ----------------------------- */
.size50{
	font-size : $size-50;
}

.size36{
	font-size : $size-36;
}

.size30{
	font-size : $size-30;
}

.size24{
	font-size : $size-24;
}

.size20{
	font-size : $size-20;
}

.size17{
	font-size : $size-17;
}

.size15{
	font-size : $size-15;
}

.size13{
	font-size : $size-13;
}

.size12{
	font-size : $size-12;
}

.size11{
	font-size : $size-11;
}

.size10{
	font-size : $size-10;
}

.color1{
	color: $color1;
}

.color2{
	color: $color2;
}

.color3{
	color: $color3;
}

.color4{
	color: $color4;
}

.color5{
	color: $color5;
}

.color6{
	color: $color6;
}

.color7{
	color: $color7;
}

.unstyled{
	list-style-type:none;
}

.uppercase{
	text-transform:uppercase;
}

.masque{
	display:none;
}


a{
	text-decoration:none;
	font-fazmili:"test";
}

body{
	
}

/* Header */

/* Fin header */

/* Footer */

/* Fin Footer */

/* Commun */

/* Fin Commun */

/* Home */


/* Fin Home */


@import "utilities/_responsive.scss"; // Responsive Web Design helpers