/*!
* www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter
* Licence WTFPL http://www.wtfpl.net/
*/

/* ----------------------------- */
/* ==Table Of Content            */
/* ----------------------------- */

/* 1- Normalize (basic reset) */
/* 2- Base (basic styles) */
/* 3- Print (print quick reset) */
/* 4- Stylings (minor stylings) */
/* 5- Misc (skip links, hyphens) */
/* 6- Tables (data tables consistency) */
/* 7- Forms (forms consistency) */
/* 8- Media object */
/* 9- Autogrid object */
/* 10- Global Layout (alignment, modules, positionning) */
/* 11- Helpers (width and spacers helpers) */
/* (12- WordPress reset (disabled by default)) */
/* 13- Responsive (Responsive Web Design helpers) */
/* 14- Grid Layout (grillade) */

/* ---------------------------------- */
/* ==Normalize (basic reset)          */
/* ---------------------------------- */

@import "_vendor/_normalize.scss"; // normalize (basic reset)

// WARNING : you should comment the following @import (variables)
// and move variables file from knacss folder to your own project folder!
@import "_config/_variables.scss";

@import "_config/_breakpoints.scss";
@import "_config/_mixins.scss";
@import "_config/_fonts.scss";

// Libraries
@import "library/_base.scss"; // basic styles
@import "library/_print.scss"; // print quick reset
@import "library/_styling.scss"; // minor stylings
@import "library/_misc.scss"; // skip links, hyphens
@import "library/_tables.scss"; // data tables consistency
@import "library/_forms.scss"; // forms consistency

// Objects
@import "objects/_media.scss"; // media object
@import "objects/_autogrid.scss"; // media autogrid

// Utilities
@import "utilities/_layout.scss"; // alignment, modules, positionning
@import "utilities/_helpers.scss"; // width and spacers helpers
// @import "utilities/_wordpress.scss"; // WordPress reset and basic styles

// Grids
@import "grids/_grillade.scss"; // grids


/* ----------------------------- */
/* ==Own stylesheet              */
/* ----------------------------- */
.size50{
	font-size : $size-50;
}

.size36{
	font-size : $size-36;
}

.size32{
	font-size : $size-32;
}

.size30{
	font-size : $size-30;
}

.size24{
	font-size : $size-24;
}

.size20{
	font-size : $size-20;
}

.size19{
	font-size : $size-19;
}

.size18{
	font-size : $size-18;
}

.size17{
	font-size : $size-17;
}

.size16{
	font-size : $size-16;
}

.size15{
	font-size : $size-15;
}

.size14{
	font-size : $size-14;
}

.size13{
	font-size : $size-13;
}

.size12{
	font-size : $size-12;
}

.size11{
	font-size : $size-11;
}

.size10{
	font-size : $size-10;
}

.color1{
	color: $color1;
}

.color2{
	color: $color2;
}

.color3{
	color: $color3;
}

.color4{
	color: $color4;
}

.color5{
	color: $color5;
}

.color6{
	color: $color6;
}

.color7{
	color: $color7;
}

.typo1{
	font-family:$typo1;
}

.typo2{
	font-family:$typo2;
}

.typo3{
	font-family:$typo3;
}

.unstyled{
	list-style-type:none;
}

.uppercase{
	text-transform:uppercase;
}

.masque{
	display:none;
}


a{
	text-decoration:none;
}

body{
	font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.unscrolled{
		height: 100vh;
		overflow: hidden;
	}
}

/* Header */
.header-general{
	align-items:center;
	padding-left: 50px;
	height: 83px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background: $color2;
	z-index:30;

	h1{
		margin: 0;

		svg{
			display: block;
			width: 170px;

			.cls-1{
				fill:$color1;
			}
		}
	}

	.burger{
		border:none;
		background: none;
		cursor:pointer;
		padding: 0;
		height: 18px;
		width: 23px;
		margin-left: 40px;

		svg{
			width:23px;

			path{
				fill:$color4;
			}

			+ svg{
				width: 16px;
			}

			&.invisible{
				display: none;
			}
		}
	}

	.player{
		height: 18px;
		width: 380px;
		margin-left: 85px;

		.cue-playlist.max-width-380 .cue-skin-default.mejs-container{
			padding-bottom: 0;
			background: none;
			box-shadow: none;
			height: 18px !important;

			.mejs-layers{
				padding: 0 85px 0 70px;
			}

			.mejs-track-artwork{
				display: none;
			}

			.mejs-controls{
				position: absolute;
				width: 100%;
				margin: 0;
				height: 18px;
				top: 0;
				left: 0;

				.mejs-next-button, .mejs-previous-button, .mejs-playpause-button{
					opacity: 1;
					height: 18px;
					width: 18px;
					position: absolute;
					top: 0;
					margin: 0;
					background: none;

					button{
						display: block;
						width: 18px;
						height: 18px;
						border:none;
						margin: 0;

						&::before{
							display: none;
						}
					}
				}

				.mejs-next-button{
					right: 0;
					left: calc(100% - 18px);
					button{
						background: url('../../img/css/svg/icn-forward.svg') no-repeat;
						background-size: contain;
					}
				}

				.mejs-previous-button{
					left: 0;
					button{
						background: url('../../img/css/svg/icn-rewind.svg') no-repeat;
						background-size: contain;
					}
				}

				.mejs-time{
					position: absolute;
					top: 0;
					right: 35px;
					font-size: $size-14;
					font-family: $typo2;
					width: 50px;
					text-align: right;

					.mejs-time-separator, .mejs-duration{
						display: none;
					}

					span{
						color:$color7;
					}
				}

				.mejs-playpause-button{
					left: 33px;
					background: none;
					border-radius: 0;
					box-shadow: none;

					&.mejs-play, &.mejs-pause{
						button{
							background: url('../../img/css/svg/icn-play.svg') no-repeat;
							background-size: contain;
							height: 18px;
							width: 18px;
							margin: 0;
							border:none;
						}
					}
				}
				
				.mejs-time-rail, .mejs-volume-button, .mejs-horizontal-volume-slider{
					display: none;
				}
			}

			.mejs-track-details{
				padding: 0;
				position: absolute;
				left: 70px;
				width: calc(100% - 155px);
				top: 0;
				text-align: left;

				.mejs-track-artist{
					color:$color3;
					font-size: $size-14;
					font-family:$typo2;
					margin: 0;
					line-height: 1em;
					display: inline;
				}

				.mejs-track-title{
					font-size: $size-14;
					font-family:$typo1;
					margin: 0;
					line-height: 1em;
					color:$color7;
					display: inline;
					margin-left: 3px;
					&::before{
						content:' - ';
					}
				}
			}

		}

		.cue-playlist{
			border-radius: 0;
			margin: 0;
		}
	}
}

.page-template-template_installation{
	.header-general{
		h1{
			svg{
				.cls-1{
					fill:$color5;
				}
			}
		}

		.player{
			.cue-playlist.max-width-380 .cue-skin-default.mejs-container{
				.mejs-track-details{
					.mejs-track-artist{
						color:$color5;
					}
				}
			}
		}
	}
}

.nav-burger{
	position: fixed;
	right: -256px;
	top: 83px;
	z-index: 10;
	height: calc(100% - 83px);
	width: 256px;
	background: $color1;
	text-align:center;
	overflow: scroll;
	transition:right 0.3s ease;
	padding-top: 60px;

	ul{
		padding-left: 0;

		li{
			list-style-type: none;
			line-height: 1;
			margin-bottom: 13px;

			&.entree-secondaire{
				margin-bottom: 9px;
			}
		}
	}

	&.ouvert{
		right: 0;
	}

	a{
		color:$color2;
	}


	.nav-rs{
		justify-content:center;
	}

	.nav-installation{
		margin: 45px 0;
		li{
			a{
				display: flex;
				align-items:center;
				justify-content:center;
				width: 168px;
				height: 34px;
				border-radius:17px;
				background:$color5;
				margin: auto;
			}
		}
	}

	.nav-mentions{
		margin-top: 40px;
	}

	.nav-2{
		margin-top: 30px;
	}
}

.nav-burger, .nav-footer{
	.twitter, .facebook{
		svg{
			width: 36px;
		}

		.cls-1, .cls-2{
			transition:fill 0.3s ease;
		}

		.cls-1{
			fill:$color4;
		}

		.cls-2{
			fill:$color2;
		}

		&:hover, &:focus{
			.cls-1{
				fill:$color2;
			}

			.cls-2{
				fill:$color4;
			}
		}
	}

	.nav-rs{
		li + li{
			margin-left: 12px;
		}
	}
}

.entree-principale{
	a{
		font-weight: 600;
	}
}

.entree-minimale{
	a{
		font-size: $size-13;
	}
}

.ouvrir-radio{
	margin-left: 40px;
	border:1px solid $color9;
	color:$color9;
	border-radius: 13px;
	height: 26px;
	padding: 0 20px 3px;
	align-items:center;
	transition: all 0.3s ease;
	background: $color2;

	&:hover, &:focus{
		color:$color2;
		background: $color9;
	}
}

.popup-playlist{
	position: fixed;
	height: 100vh;
	top: 0;
	right: -100%;
	width: 100%;
	border:20px solid $color1;
	transition:right 0.5s ease;
	background: $color2;
	z-index: 60;
	overflow-y: scroll;
	overflow-x: hidden;

	&.ouvert{
		right: 0;
	}

	> div{
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition:right 0.3s ease;
		background: $color2;

		&.ferme{
			right: calc(-100% - 20px);
		}
	}
}

.current-playlist{
	padding: 40px 60px 50px;

	> h2{
		line-height: 1.15em;
		padding-bottom: 35px;
		margin-bottom: 40px;
		border-bottom: 1px solid #ccc;
	}

	.mejs-player-background{
		display: none;
	}

	.cue-skin-default.mejs-container{
		background: transparent;
		border-radius: 0;
		box-shadow: none;

		.mejs-track-details{
			.mejs-track-artist{
				color:$color3;
				font-size: $size-36;
				font-family:$typo2;
				margin: 0;
				line-height: 1.15em;
			}

			.mejs-track-title{
				font-size: $size-36;
				font-family:$typo1;
				margin: 0;
				line-height: 1.15em;
				color:$color7;
			}
		}

		.mejs-track-artwork{
			width: 25%;
			height: auto;
			margin-right: 40px;
			box-shadow: none;

			&::before{
				display: none;
			}
		}

		.mejs-audiotheme-mark{
			display: none;
		}

		.mejs-inner{
			padding: 0 0 40px;
			height: auto;
			margin-bottom: 40px;
			border-bottom: 1px solid #ccc;
			position: relative;

			.mejs-layers{
				display: flex;
			}
		}

		.mejs-controls{
			position: absolute;
			bottom: 40px;
			left: calc(25% + 40px);
			width: calc(75% - 40px);
			margin: 0;
			height: 25px;

			.mejs-next-button, .mejs-previous-button, .mejs-playpause-button{
				opacity: 1;
				height: 25px;
				width: 25px;
				position: absolute;
				top: 0;
				margin: 0;

				button{
					display: block;
					width: 25px;
					height: 25px;
					border:none;
					margin: 0;

					&::before{
						display: none;
					}
				}
			}

			.mejs-next-button{
				right: 0;
				button{
					background: url('../../img/css/svg/icn-forward.svg') no-repeat;
					background-size: contain;
				}
			}

			.mejs-previous-button{
				left: 0;
				button{
					background: url('../../img/css/svg/icn-rewind.svg') no-repeat;
					background-size: contain;
				}
			}

			.mejs-playpause-button{
				left: 35px;
				background: none;
				border-radius: 0;
				box-shadow: none;

				&.mejs-play, &.mejs-pause{
					button{
						background: url('../../img/css/svg/icn-play.svg') no-repeat;
						background-size: contain;
						height: 25px;
						width: 25px;
						margin: 0;
						border:none;
					}
				}
			}

			.mejs-time-rail{
				width: calc(100% - 105px) !important;
				left: 70px;
				top: 7px;
				right: inherit;
				bottom:inherit;

				.mejs-time-current{
					background: $color1;
				}

				.mejs-time-loaded{
					background: #e6e6e6;
				}
			}
			
			.mejs-volume-button, .mejs-horizontal-volume-slider{
				display: none;
			}
		}
	}

	.cue-playlist{
		.cue-tracks{
			column-count:2;
			max-height: inherit;
			column-gap:85px;
			border:none;
			box-shadow:none;
		}

		.cue-track{
			margin-bottom: 12px;
			border:none;

			.cue-track-details{
				padding: 0;
				width: 100%;
				font-size: $size-16;

				.cue-track-title{
					font-family: $typo1;
					color:$color7;
					font-weight: 400;
					margin-left: 3px;
					transition: color 0.3s ease;
					display: inline;
				}

				.cue-track-artist{
					font-family: $typo2;
					color:$color7;
					transition: color 0.3s ease;
					display: inline;

					&::after{
						content:' - ';
					}
				}
			}

			.cue-track-length{
				display: none;
			}

			&.is-current{
				background:none;
				.cue-track-details{
					.cue-track-title, .cue-track-artist{
						color:$color3;
					}
				}
			}

			&:hover, &:focus{
				background:none;
				.cue-track-details{
					.cue-track-title, .cue-track-artist{
						color:$color3;
					}
				}
			}
		}
	}


}


.display-all-playlists{
	height: 34px;
	padding: 2px 20px 0;
	border-radius: 17px;
	background: $color9;
	border:1px solid $color9;
	display: inline-block;
	transition:all 0.3s ease;
	margin-left: calc(50% + 42px);
	margin-bottom: 30px;

	&:hover, &:focus{
		background: $color2;
		color:$color9;
	}
}

.all-playlists{
	padding: 50px 60px 20px;

	> ul{
		margin-top: 0;
		height: calc(100% - 25px);
		overflow: scroll;

		> li{
			height: 165px;
			align-items:center;

			&.is-playing{
				h3{
					color:$color3;
				}

				.lien-playlist{
					color:$color3;
					background: $color2;
					border:1px solid $color3;

					&:hover, &:focus{
						cursor:default;
						color:$color3;
						background: $color2;
						border:1px solid $color3;
					}
				}
			}

			+ li{
				border-top:1px solid #ccc;
			}
		}
	}

	.lien-playlist{
		background: $color9;
		border:1px solid $color9;
		width: 168px;
		height: 34px;
		border-radius:17px;
		padding: 0 0 3px;
		align-items:center;
		transition:all 0.3s ease;
		justify-content: center;
		margin-left: 30px;

		&:hover, &:focus{
			background: $color2;
			color:$color9;
		}
	}

	.cartouche-playlist{
		flex:1;
	}

	h3{
		line-height: 1.15em;
	}
}
/* Fin header */



/* Commun */
/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider, .flexslider-dossier, .flexslider-retro {
  margin: 0;
  padding: 0;

  .slides{
  	> li{
  		display: none;
  		-webkit-backface-visibility: hidden;
  	}

  	img{
  		width: 100%;
  		display: block;
  	}

  	&::after{
  		content: "\0020";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
  	}
  }
}

html[xmlns] .flexslider .slides, html[xmlns] .flexslider-dossier .slides, html[xmlns] .flexslider-retro .slides{
  display: block;
}
* html .flexslider .slides, * html .flexslider-dossier .slides, * html .flexslider-retro .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child, .no-js .flexslider-dossier .slides > li:first-child, .no-js .flexslider-retro .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider, .flexslider-dossier, .flexslider-retro {
	margin: 0;
	background: #fff;
	position: relative;
	zoom: 1;

	.slides{
		zoom: 1;
		img{
			height: auto;
			-moz-user-select: none;	
		}
  }
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
	max-height: 300px;
}

.carousel li {
	margin-right: 5px;
}

.flex-direction-nav {
	*height: 0;

	a{
		text-decoration: none;
		display: block;
		width: 15px;
		height: 24px;
		margin: -12px 0 0;
		position: absolute;
		top: 50%;
		z-index: 10;
		overflow: hidden;
		opacity: 0;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background: url('../../img/css/svg/icn-nav-slider-white.svg') no-repeat;
		background-size:contain;
		color:transparent;
	}

	.flex-prev{
		left: -50px;
  		transform:rotate(-180deg);
	}

	.flex-next {
		right: -50px;
		text-align: right;
	}

	.flex-disabled{
		opacity: 0 !important;
		filter: alpha(opacity=0);
		cursor: default;
		z-index: -1;
	}
}

.flexslider-dossier{
	.flex-direction-nav {
		display: flex;
		width: 90px;
		justify-content: space-between;
		position:absolute;
		top:176px;
		right:55.6%;
		a{
			background: url('../../img/css/svg/icn-nav-slider-black.svg') no-repeat;
			transition: none;
			height: 36px;
			width: 36px;
			margin: 0;
			position:relative;
			left:inherit;
			top:inherit;
			right:inherit;
			opacity: 1;
		}
	}
}


 
.flexslider{
	&:hover{
		.flex-direction-nav{
			.flex-prev {
				opacity: 1;
				left: 37px;

				&:hover{
					opacity: 1;
				}
			}

			.flex-next{
				opacity: 1;
				right: 37px;

				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

.flex-pauseplay{
	a {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: 5px;
		left: 10px;
		opacity: 0.8;
		z-index: 10;
		overflow: hidden;
		cursor: pointer;
		color: #000;

		&::before{
			font-family: "flexslider-icon";
			font-size: 20px;
			display: inline-block;
			content: '\f004';		
		}

		&:hover{
			opacity: 1;
		}

		&.flex-play{
			&::before{
				content: '\f003';
			}
		}
	}
}


.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;

	li{
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	&:hover{
		background: #333;
		background: rgba(0, 0, 0, 0.7);
	}

	&.flex-active{
		background: #000;
		background: rgba(0, 0, 0, 0.9);
		cursor: default;
	}
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;

	li{
		width: 25%;
		float: left;
		margin: 0;
	}

	img{
		width: 100%;
		height: auto;
		display: block;
		opacity: .7;
		cursor: pointer;
		-moz-user-select: none;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;

		&:hover{
			opacity: 1;
		}
	}

	.flex-active{
		opacity: 1;
		cursor: default;
	}
}

.page-template-default{
	.bordures-single:last-child{
		padding-bottom: 50px;
	}

	.single-central{
		margin-top: 83px;
	}
}

.header-cat{
	margin-top: 83px;
}

/* Fin Commun */

/* Home */
.conteneur-a-la-une{
	display: flex;

	> h3{
		display: flex;
		flex:1;
		align-items:center;
		justify-content:center;
		margin: 83px 0 0;
		color:$color6;
		span{
			transform:rotate(90deg);
		}
	}
}

.a-la-une{
	width: 87.5%;
	margin-top: 83px;
	
	.flex-viewport, .flexslider{
		height: 400px;
	}

	.slides{
		height: 400px;
		li{
			position:relative;	
			height: 400px;
			background-repeat:none;
			background-position:center;
			background-size:cover;
		}
	}

	.contenu-slide{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content: center;
		color:$color2;

		a{
			color:$color2;
		}

		h2{
			font-weight: 800;
			width:100%;
			max-width: 640px;
			text-align: center;
			line-height: 1;
			margin-top: 3px;
			padding: 0 40px;
		}
	}

	.lire-article{
		display: flex;
		border:1px solid $color2;
		height: 32px;
		width: 157px;
		justify-content: center;
		align-items:center;
		border-radius:16px;
	}
}

.super-conteneur-dossiers-thematiques{
	background:url('../../img/css/svg/blue-wave-footer.svg') no-repeat bottom center;
	background-size:cover;
	padding-bottom: 95px;
	padding-left: 8.25%;
	

	.conteneur-dossiers{
		padding: 47px 40px 47px 0;
		background:$color2;
		h3{
			flex:1;
			display: flex;
			justify-content: center;
			margin: 0;
			align-items:flex-start;
			padding-top: 35px;
			span{
				transform:rotate(90deg);
			}
		}
	}

	.dossiers-thematiques{
		width: 85.56%;
	}

	.flexslider-dossier{
		li{
			justify-content: space-between;
			align-content:space-between;
			display: flex !important;
			> div{
				height: 212px;
				width: 44.4%;
				margin-bottom: 40px;

				&:nth-child(n+2){
					margin-bottom: 0;
				}
			}

			.secondaire{
				color:$color2;
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
				
				> a{
					color:$color2;
				}

				.descriptif-article{
					width: 100%;
					height: 100%;
					text-align: center;
					align-items:center;
					justify-content: center;
					opacity: 0;
					transition : opacity 0.3s ease;
				}

				&:hover, &:focus{
					.descriptif-article{
						opacity: 1;
					}
				}

				h2{
					font-weight: 800;
					line-height: 1.1em;
					padding: 0 40px;
					margin-bottom: 5px;
				}
			}

			.principal{
				h2{
					margin-top: 0;
					line-height: 1.2em;
				}

				.texte-thematique{
					p{
						font-size: 1.8rem;
					}
				}

				.tous-articles{
					margin-top: 25px;
				}
			}
		}
	}
}

.tous-articles{
	display:flex;
	width: 170px;
	height: 34px;
	align-items:center;
	justify-content:center;
	background:$color3;
	color:$color2;
	border-radius:17px;
	border:1px solid $color3;
	transition:all 0.3s ease;

	&:hover, &:focus{
		background:$color2;
		color:$color3;
	}
}

.derniers-articles{
	margin-top: 20px;

	.dernier-article, .autres-articles{
		width: 50%;

		.descriptif-article{
			h3{
				line-height: 1.15em;
				margin-bottom: 0;
				font-weight:800;
				margin-top: 25px;

				+ p{
					margin-top: 3px;
				}
			}

			.excerpt-article{
				margin-top: 25px;
				p{
					line-height: 1.2em;
				}
			}
		}

		.hashtags{
			line-height: 1;
		}
	}

	.dernier-article{
		> h3{
			width: 25%;
			display: flex;
			align-items:center;
			justify-content:center;
			margin: 0;
			align-self: flex-start;
			padding-top: 145px;

			span{
				transform:rotate(90deg);
				min-width: 205px;
			}
		}

		> div{
			flex:1;
		}

		.panneau-article{
			align-self: flex-start;
			background: $color7;

			> div{
				padding-left: 21%;
			}

			.descriptif-article{
				padding: 35px 50px 55px 21%;
				color:$color2;

				a{
					color:$color2;
				}
			}
		}
	}

	.autres-articles{
		padding-right: 40px;
		justify-content:space-between;
		> div{
			width: 45%;
			margin-bottom: 40px;
		}

		.image-article{
			margin-bottom: 25px;
		}

		.types-editoriaux{
			color:$color3;
		}
	}
}

/* Fin Home */

/* Single */
.single-central{
	.media-entete{
		overflow: hidden;
		margin-top: 83px;
		width: 87.5%;
	}

	.image-entete{
		display: flex;
		justify-content: center;
		align-items:center;
		height: 400px;
		overflow:hidden;

		img{
			min-height: 400px;
			width: 100%;
		}
	}

	.legende-entete{
		position:relative;
		&::before{
			content:'';
			width: 9.5%;
			background:$color1;
			position:absolute;
			left: 0;
			top: 0;
			height: 100%;
		}
	}

	.video-entete{
		video{
			display: block;
		}
	}
}

.bordures-single{
	width: 87.5%;
	padding-left: 16.6%;
	padding-right: 45px;
	position:relative;

	&::before{
		content:'';
		width: 9.5%;
		background:$color1;
		position:absolute;
		left: 0;
		top: 0;
		height: 100%;
	}
}

.entete-article{
	padding-top: 40px;
	h2{
		font-weight:400;
		margin-bottom: 5px;
	}

	h1{
		line-height: 1;
		font-weight: 800;
		margin-bottom: 0;
		padding-bottom: 10px;
	}
}

.bloc-chapo{
	position:relative;

	svg{
		width: 51px;
		margin-top: 50px;
		display: block;
		.cls-1{
			fill:$color7;
		}
	}

	p{
		line-height: 1.25em;
	}
}

.bloc-texte-courant{
	p{
		font-size: $size-18;
		font-family: "utopia-std-display", serif;
		line-height: 1.35em;

		a{
			color:$color3;
			text-decoration: underline;
		}

		+ p{
			margin-top: 15px;
		}
	}

	h2, h3{
		margin: 50px 0 30px;
		line-height: 1.2em;
		font-weight: 800;

		&:first-child{
			margin-top: 0;
		}
	}

	h2{
		font-size: $size-30;
	}

	h3{
		font-size: $size-24;
	}
}

.la-citation{
	width: 75%;
	margin: auto;
	padding: 50px 0 10px;

	blockquote{
		p{
			color:$color1;
			font-size: $size-36;
			font-weight:200;
			line-height: 1;
		}
	}

	.legende-citation{
		margin-top: 7px;
	}
}

.bloc-video, .bloc-image{
	padding-top: 70px;

	> p{
		margin-top: 12px;
	}
}

.bloc-video{
	video{
		display: block;
	}
}

.articles-en-liens{
	padding-top: 95px;
	padding-bottom: 95px;
	justify-content:space-between;
	h4{
		width: 100%;
		border-top:1px solid $color7;
	}

	.article-en-lien{
		width: 47%;
		height: 212px;
		background-position: center;
		background-repeat:no-repeat;
		background-size:cover;

		.descriptif-article{
			width: 100%;
			height: 100%;
			text-align: center;
			align-items:center;
			justify-content: center;
			opacity: 0;
			transition : opacity 0.3s ease;
		}

		h3{
			font-weight: 800;
			line-height: 1.1em;
			padding: 0 40px;
			margin-bottom: 5px;
		}

		&:hover, &:focus{
			.descriptif-article{
				opacity: 1;
			}
		}
	}
}

.diaporama-entete{
	position: fixed;
	right: -100%;
	top: 0;
	transition:right 0.5s ease;
	z-index: 40;
	width: 100%;
	height: 100vh;
	overflow: scroll;

	&.ouvert{
		right: 0;
	}

	.image-diapo{
		width: 66.666%;
		height: 100vh;
		background: $color2;
		display: flex;
		align-items:center;
		justify-content:center;

		img{
			max-height: 100%;
		}
	}

	.texte-diapo{
		width: 33.333%;
		background: $color1;
		padding: 80px 40px 120px;

		h3, h4{
			line-height: 1.15em;
		}

		> div{
			margin-top: 25px;
		}
	}

	.flex-direction-nav{
		width: 100px;
		display: flex;
		justify-content:space-between;
		position: absolute;
		bottom: 60px;
		left:calc(66.666% + 40px);
		z-index: 10;
		a{
			background: url('../../img/css/svg/icn-nav-diaporama.svg') 0 0 no-repeat;
			background-size: contain;
			width: 40px;
			position: relative;
			top:inherit;
			left: inherit;
			right: inherit;
			margin: 0;
			height: 40px;
			opacity: 1;

			&.flex-prev{
				transform:none;
			}

			&.flex-next{
				transform:rotate(180deg);
			}
		}
	}
}

.texte-lancement{
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction:column;
	align-items:center;

	svg{
		width: 55px;
	}

	.cls-1{
		fill:$color2;
	}

	.lire-article{
		margin-top: 25px;
		color:$color2;
		font-family: $typo1;
		font-size:$size-16;
		border:1px solid $color2;
		width: 195px;
		height: 38px;
		border-radius: 19px;
		display: flex;
		align-items:center;
		justify-content:center;
	}
}

.diapo{
	position: relative;
}

.fermer-diapo, .fermer-radio{
	position: absolute;
	z-index: 41;
	cursor:pointer;
	right: 55px;
	top: 30px;
	svg{
		width: 15px;
	}
}

.fermer-radio{
	right: 57px;
	top: 45px;
}



.bloc-video, .video-entete{
	.video-container {
		position: relative;
		padding-bottom: 54.9%; /* 375:683 */
		padding-top: 25px;
		height: 0;
	}

	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.poster{
		width: 100%;
		padding-bottom: 54.9%; /* 375:683 */
		padding-top: 25px;
		position: absolute;
		height: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		left: 0;
		top: 0;
		cursor:pointer;

		&.ferme{
			z-index: -1;
		}

		> div{
			width: 195px;
			height: 123px;
			position: absolute;
			left: 50%;
			margin-left: -98px;
			top:50%;
			margin-top: -61px;

			span{
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
				height: 36px;
				border: 1px solid #fff;
				border-radius: 18px;
			}
		}

		svg{
			width: 66px;
			margin-bottom: 20px;
			display: block;
			margin-left: 65px;
			.cls-1{
				opacity: 0.3;
			}

			.cls-2{
				fill:$color2;
			}
		}
	}
}

.bloc-video{
	.la-video{
		position: relative;
	}
}

.video-entete{
	position: relative;
	.video-container, .poster{
		padding-bottom: 44.64%; /* 400:896 */
	}
}
/* Fin Single */

/* Archives */
body.page-archive{
	.header-general{
		border-bottom: 1px solid #ccc;
	}

	.derniers-articles{
		.autres-articles{
			flex:1;
			padding-right: 8.3%;
		}

		.dernier-article{
			width: 45.5%;
			padding-right: 8.3%;
		}

		&.derniers-articles-bis{
			.autres-articles{
				padding-left: 8.3%;
				padding-right: 0;
			}

			.dernier-article{
				order:1;
				padding-left: 8.3%;
				padding-right: 0;

				.panneau-article{
					.descriptif-article{
						padding:35px 21% 55px 40px;
					}

					> div{
						padding-right: 21%;
						padding-left: 0;
					}
				}
			}

		}
	} 

}

.header-cat{
	padding-top: 30px;
}

.nav-annees{
	padding: 45px 8.3%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:relative;

	&::after{
		content:'';
		display: block;
		width: 83.4%;
		height: 1px;
		background-color:$color7;
		position: absolute;
		left: 50%;
		margin-left: -41.7%;
		bottom: 46px;
	}

	svg{
		width: 16px;
	}

	> span{
		cursor: pointer;
		width: 16px;
		min-width: 16px;
		margin-bottom: 9px;
		&.desactive{
			opacity:0.4;
			cursor:default;
		}
	}

	.nav-left{
		margin-left: 12px;
		svg{
			transform: rotate(180deg);
		}
	}

	.nav-right{
		margin-right: 12px;
	}

	a{
		font-weight: 800;
		padding-bottom: 8px;
		display: block;
		height: auto;
		width: auto;
		font-size: 2.3rem;
		line-height: 1;
		color:$color8;

		&.active{
			color:$color3;

			border-bottom:7px solid $color3;
		}
	}

	li{
		margin: 0 7px;
		width: 61px;
		text-align: center;
	}

	ul{
		width: 10000px;
		position: relative;
		left: 0;
		transition : left 0.3s ease;
	}

	.conteneur-liste-annees{
		width: 69%;
		overflow:hidden;
		position: relative;
	}
}

.anim-archive{
	width: 100%;
	height: 100vh;
	background: $color2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	overflow: hidden;
	align-items:center;
	justify-content:center;
	svg{
		position: relative;
		z-index: 2;
		width: 288px;
		.cls-1{
			transition:fill 0.3s ease;
			fill:$color1;
		}

		&.ouvert{
			.cls-1{
				fill:$color5;
			}
		}
	}

	.masque-logo{
		position: absolute;
		right: -100%;
		top:0;
		height: 100%;
		width: 100%;
		background: $color1;
		transition:right 0.5s ease;

		&.ouvert{
			right: 0;
		}

		&.ferme{
			right: 100%;
		}
	}
}

body.page-archive{
	> header, > footer, >div:not(.anim-archive){
		opacity: 1;
		transition: opacity 0.5s ease;
	}

	&.unscrolled{
		> header, > footer, >div:not(.anim-archive){
			opacity: 0;
		}
	}

	.footer-principal{
		background:url('../../img/css/svg/bg-footer-archive.svg') left bottom/cover no-repeat $color2;
		margin-bottom: 100px;
		position: relative;
		&::after{
			position: absolute;
			height: 100px;
			bottom: -100px;
			left: 0;
			width: 100%;
			content:'';
			background: $color1;
		}
	}

	.nav-footer{
		padding:190px 8.333% 0;

		.back-to-top{
			bottom: -70px;
			z-index: 1;
		}
	}
}

.afficher-plus-articles{
	height: 34px;
	display: inline-block;
	border-radius: 17px;
	padding: 3px 10px;
	background:$color3;
	border:1px solid $color3;
	transition: all 0.3s ease;

	&:hover, &:focus{
		background: $color2;
		color:$color3;
	}
}
/* Fin Archives */

/* Installation */
body.page-template-template_installation{
	.footer-principal{
		background:url('../../img/css/svg/bg-footer-installation.svg') left bottom/cover no-repeat $color2;
		margin-bottom: 100px;
		position: relative;
		&::after{
			position: absolute;
			height: 100px;
			bottom: -100px;
			left: 0;
			width: 100%;
			content:'';
			background: $color5;
		}
	}

	.nav-footer{
		padding:190px 8.333% 0;

		.back-to-top{
			bottom: -70px;
			z-index: 1;
		}

		.nav-installation{
			a{
				color:$color2;
			}
		}
	}
}

.conteneur-video-installation{
	height:calc(100vh - 83px);
	width: 100%;
	position: relative;
	margin-top: 83px;
	display: flex;
	align-items:center;
	justify-content:center;
	
	h1{
		width: 62.5%;
		text-align: center;
	}
}
.bgvid{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(../../img/poster.jpg) 0 0 no-repeat;
	background-size: cover;
}

.contenu-installation{
	padding: 80px 16.666%;
	position: relative;
	&::before{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 8.333%;
		background:$color5;
		content:'';
	}

	> h2, > h3{
		line-height: 1;
	}

	> h3{
		margin-bottom: 5px;
	}
}

.chapo-installation{
	margin-top: 30px;

	p{
		line-height: 1.25em;
	}

	svg{
		width: 51px;
		margin-top: 50px;
		display: block;
	}
}

.texte-installation{
	margin-top: 40px;
	p{
		font-size: 1.8rem;
		font-family: utopia-std-display,serif;
		line-height: 1.35em;

		a{
			color:$color5;
		}
	}
}

.actions-installation{
	margin-top: 45px;
	a{
		display:flex;
		height: 34px;
		border:1px solid $color5;
		border-radius: 17px;
		color:$color2;
		background:$color5;
		padding: 0 25px 3px;
		align-items:center;
		transition: all 0.3s ease;

		&:hover, &:focus{
			color:$color5;
			background: $color2;
		}

		+ a{
			margin-left: 45px;
		}
	}
}

.slider-installation{
	position:relative;

	.slides{
		li{
			display: flex !important;
			> div{
				width: 50%;
				height: 685px;
			}
		}
	}

	.image-double > div, .image-unique{
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
	}

	.image-double{
		> div{
			height: 50%;
		}
	}

	.image-unique.dispo-2-1{
		order:1;
	}

	.flex-direction-nav a{
		opacity: 1;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		background: url('../../img/css/svg/icn-nav-diaporama.svg') no-repeat;

		&.flex-prev{
			left: 40px;
			transform:none;
		}

		&.flex-next{
			right: 40px;
			transform:rotate(180deg);
		}
	}
}

.actus-installation{
	height: 685px;

	> div{
		width: 50%;
		height: 685px;
	}

	.conteneur-actus{
		background:$color5;
		padding: 75px 4.166% 0px 8.333%;
	}

	.conteneur-image-actus{
		background-size:cover;
		background-position:center;
		min-height: 100%;
	}

	.avec-overflow{
		height: 100%;
		overflow:scroll;
		padding-right: 10.91%;

		> h2{
			line-height: 1.15em;
		}

		> h3{
			font-weight: 400;
		}
	}

	.conteneur-breve{
		padding: 28px 0;

		+ .conteneur-breve{
			border-top:1px solid $color2;
		}

		h3{
			line-height: 1.15em;
		}

		> a{
			height: 36px;
			border-radius:18px;
			padding: 3px 25px 0;
			border:1px solid $color2;
			display: inline-block;
			margin-top: 22px;
			transition: all 0.3s ease;
			background:$color5;

			&:hover, &:focus{
				background:$color2;
				color:$color5;
			}
		}

		.texte-breve{
			margin-top: 3px;
			p{
				line-height: 1.35em;
			}
		}
	}
}

.conteneur-flux-rs{
	> h3{
		line-height: 1;
		margin: 40px 0;
	}
}

body #ff-stream-1{
	background: $color2;
	padding-top: 0;

	.ff-stream-wrapper{
		margin-top: 0;
	}

	.picture-item__inner{
		box-shadow: none;
		background: #f5f5f5;
	}

	.ff-name{
		font-weight: 700;
		color:$color9 !important;
		font-size: $size-14;
	}

	.ff-timestamp{
		display: none;
	}

	.ff-item{
		margin-bottom: 20px !important;
	}
}

body{
	.ff-theme-classic{
		.picture-item__inner{
			box-shadow: none;
			background: #f5f5f5;
			padding: 20px;
			border-radius: none;
		}

		&.ff-style-4{
			.ff-item-meta{
				padding: 0;
				margin: 0;
				border:none;
				height: 34px;
			}

			.ff-userpic{
				height: 34px;
				width: 34px;
				margin-right: 13px;
			}

			.ff-name{
				margin-right: 0;
				margin-top: 7px;

				&:hover{
					text-decoration: none;
				}
			}

			.ff-icon-inner{
				height: 34px;
			}
		}

		.ff-item{
			.ff-img-holder{
				margin-bottom: 0;
				margin-top: 20px;
			}
		}
	}


	.ff-item-cont{
		display: flex;
		flex-direction:column;

		> span{
			order: 2;
		}

		.ff-content{
			order:1;
			margin-top: 20px;
			font-family: $typo1;
			font-size:$size-14;
			color:$color9;
		}
	}

	.ff-instagram, .ff-twitter, .ff-facebook{
		.ff-icon-inner{
			background: $color9;
		}
	}

	.ff-icon{
		width: 34px;
		height: 34px;
	}

	.ff-icon-inner{
		font-size:$size-18;
		&::after{
			width: 34px;
			height: 34px;
			line-height: 34px;
		}
	}
}
/* Fin installation*/

/* Footer */
.footer-principal{
	background:#eee url('../../img/css/svg/big-wave-footer.svg') no-repeat left bottom;
	background-size:cover;
	
	&.footer-home{
		min-height: 892px;
		padding-top: 58px;
	}
}

.dans-le-retro{
	background:$color2;
	width: 87.5%;
	margin-left: 12.5%;
	padding-top: 110px;
	padding-bottom: 45px;
	img{
		width: 300px;
	}

	> h3{
		display: flex;
		align-items:center;
		justify-content:center;
		width: 14.5%;
		align-self:flex-start;
		padding-top: 55px;

		span{
			transform:rotate(90deg);
			display: block;
			min-width: 135px;
		}
	}
}

.flexslider-retro{
	width: 85.5%;

	.conteneur-nav-retro{
		width: 108%;
		position: absolute;
		top: -72px;
		text-align: center;
		border-bottom: 1px solid $color8;
		left: -12.2%;
		bottom:inherit;
		overflow: hidden;
		padding-top: 10px;

		&::after, &::before{
			display: block;
			width: 110px;
			height: 50px;
			background-image:linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
			position: absolute;
			z-index: 2;
			top:-12px;
			right: 0;
			content:'';
		}

		&::before{
			left: 0;
			right: inherit;
			background-image:linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
		}

		.flex-control-nav{
			position: relative;
			left: 0;
			bottom:inherit;
			width: 1000%;
			overflow: hidden;
			text-align: left;
			padding-left: 100px;
			transition:left 0.3s ease;
		}
	}

	.flex-direction-nav{
		a{
			opacity:1;
			background: url(../../img/css/svg/nav-timeline.svg) no-repeat;
			width: 16px;
			height: 25px;
			top: 20px;

			&.flex-prev{
				left: 15px;
			}

			&.flex-next{
				right: 15px;
			}
		}
	}


	.flex-control-paging{
		li{
			margin: 0 12px;
			width: 61px;
			text-align: center;
			a{
				box-shadow: none;
				background: none;
				text-indent: 0;
				height: auto;
				width:auto;
				font-weight: 800;
				font-size: 2.3rem;
				color:$color8;
				line-height: 1;
				padding-bottom: 8px;
				border-bottom:7px solid transparent;
				border-radius: 0;

				&.flex-active{
					background: none;
					color:$color3;
					border-bottom:7px solid $color3;
				}
			}
		}
	}
}



.panneau-annee{
	display: flex !important;
	
	.image-annee{
		width:39%;

		+ .descriptif-annee{
			padding-left: 42px;
		}
	}

	.descriptif-annee{
		flex:1;
		padding-right: 42px;

		.nb-articles{
			margin-bottom: 7px;
			margin-top: -3px;
			line-height: 1;
		}

		h3{
			line-height: 1;
			font-weight: 800;
		}

		.tous-articles{
			width: 125px;
			height: 26px;
			border-radius: 13px;
			margin-top: 25px;
		}
	}
}

.nav-footer{
	padding: 75px 8.333%;
	position:relative;

	a{
		color:$color4;
	}

	.nav-installation{
		a{
			color:$color5;
		}
	}

	.colonne-1{
		margin-right: 4.166%;
		width: 213px;
	}

	.colonne-2{
		flex:1;
	}

	.entree-principale{
		font-size: $size-19;
	}

	.entree-secondaire{
		font-size: $size-16;
	}

	ul{
		margin: 0;
		&.nav-rs{
			margin-bottom: 20px;

			li{
				margin-bottom: 0;
			}
		}

		li{
			margin-bottom: 13px;
			line-height: 1;
		}
	}

	.back-to-top{
		width: 36px;
		height: 36px;
		position:absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -18px;
		cursor:pointer;
		transform: rotate(-90deg);

		svg{
			width: 36px;
			height: 36px;
		}

		.cls-1{
			fill:none;
			stroke:$color6;
			stroke-miterlimit:10;
			stroke-width:2px;
		}

		.cls-2{
			fill:$color6;
		}
	}
}

.page-template-template_installation{
	.nav-footer{
		.nav-partager{
			.facebook, .twitter{
				svg .cls-1{
					fill:$color5;
				}

				&:hover, &:focus{
					svg{
						.cls-1{
							fill:$color2;
						}

						.cls-2{
							fill:$color5;
						}
					}
				}
			}
		}
	}
}

.cn-bottom{
	.cookie-notice-container{
		font-family: $typo1;
		font-size: $size-14;
		min-height: 60px;
		padding: 0 40px;
		display: flex;
		justify-content:space-between;
		align-items:center;
		.button{
			font-size: $size-16;
			height: 34px;
			width: 168px;
			border-radius: 17px;
			background: $color3;
			color:$color2;
			display: flex;
			justify-content:center;
			align-items:center;
		}
	}
}

.nav-footer{
	.nav-partager{
		.facebook, .twitter{
			svg{
				width: 34px;
				height: 34px;

				.cls-1{
					fill:$color3;
				}
			}

			&:focus, &:hover{
				.cls-1{
					fill:$color2;
				}

				.cls-2{
					fill:$color3;
				}
			}
		} 
	}
}

.nav-partager{
	position:fixed;
	bottom: 20px;
	right: 25px;
	display:flex;
	z-index:20;
    h4{
    	order:1;
    	margin-left: -30px;
    	margin-bottom: 0;
    	display: flex;
    	font-weight: 400;
		span{
			transform: rotate(90deg);
		}
    }

    ul{
		display: flex;
		flex-direction:column;
		position:relative;
		z-index: 2;

		li{
			margin-bottom: 0;
			line-height: 0;
			+ li{
				order:-1;
				margin-bottom: 10px;
			}
		}
	}
}

.raccourci-installation{
	position:fixed;
	bottom: 20px;
	display:flex;
	align-items:center;
	height: 54px;
	width: 54px;
	overflow:hidden;
	border-radius:27px;
	background-color:$color2;
	left: -54px;
	transition:all 0.3s ease;
	padding:0;
	z-index: 5;

	svg{
		width: 54px;
		min-width: 54px;
	}

	.cls-2{
		fill:$color5;
	}

	span{
		color:$color2;
		margin-left: 13px;
		font-weight: 800;
		padding-right: 30px;
	}

	&:hover, &:focus{
		background-color:$color5;
		width: 245px;
		.cls-2{
			fill:$color2;
		}
	}
}

/* Fin Footer */


@import "utilities/_responsive.scss"; // Responsive Web Design helpers